### Data cleaning procedure

In [4]:
# Loading data 
# From 4 csv file sources 

import pandas as pd
import numpy as np
import os



# Loading customers.csv
customers_df = pd.read_csv("/home/sageGaurab/data-world/retail_data_source/customers.csv")

#Loading orders.csv
orders_df = pd.read_csv("/home/sageGaurab/data-world/retail_data_source/orders.csv")

# Loading products.csv
products_df = pd.read_csv("/home/sageGaurab/data-world/retail_data_source/products.csv")

# Loading order_details.csv
order_details_df = pd.read_csv("/home/sageGaurab/data-world/retail_data_source/order_details.csv")

#### Fixing signup_date and order_date datatype

In [5]:
customers_df.sample()

      customer_id          name       city    state signup_date
1057         1058  Jared Galvan  Hunterton  Alabama  2023-12-10

In [6]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  2000 non-null   int64
 1   name         2000 non-null   object
 2   city         2000 non-null   object
 3   state        2000 non-null   object
 4   signup_date  2000 non-null   object
dtypes: int64(1), object(4)
memory usage: 78.3+ KB

In [7]:
print("converting the string data type to datetime")

converting the string data type to datetime

In [8]:
customers_df["signup_date"] = pd.to_datetime(customers_df["signup_date"])

In [9]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  2000 non-null   int64
 1   name         2000 non-null   object
 2   city         2000 non-null   object
 3   state        2000 non-null   object
 4   signup_date  2000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 78.3+ KB

In [10]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      8000 non-null   int64
 1   customer_id   8000 non-null   int64
 2   order_date    8000 non-null   object
 3   order_status  8000 non-null   object
dtypes: int64(2), object(2)
memory usage: 250.1+ KB

In [11]:
orders_df.sample()

      order_id  customer_id  order_date order_status
1386      1387         1276  2025-09-01    Completed

In [12]:
orders_df["order_date"] = pd.to_datetime(orders_df["order_date"])

In [13]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      8000 non-null   int64
 1   customer_id   8000 non-null   int64
 2   order_date    8000 non-null   datetime64[ns]
 3   order_status  8000 non-null   object
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 250.1+ KB

#### Fixing values where cost price is greater to unit price/selling price

In [14]:
products_df["cost_price_higher_than_price"] = products_df["cost_price"] > products_df["unit_price"]

In [15]:
products_df.sample(4)

,product_id,product_name,category,unit_price,cost_price,cost_price_higher_than_price
19,20,World,Electronics,110.18,174.85,True
22,23,Report,Home,152.96,12.63,False
199,200,Example,Clothing,131.53,251.49,True
71,72,International,Electronics,287.78,274.60,False

In [16]:
mask = products_df["cost_price"] > products_df["unit_price"]

In [17]:
mask.sample(5)

18    False
dtype: bool

Replacing cost_price and unit_price where cost_price is greater to unit_price

In [18]:
products_df.loc[mask, ['cost_price', 'unit_price']] = products_df.loc[mask, ['unit_price', 'cost_price']].values

In [19]:
merged = orders_df.merge(customers_df[['customer_id','signup_date']], on='customer_id')

In [20]:
invalid_orders = merged[merged['order_date'] < merged['signup_date']]

In [21]:
orders_df = orders_df.merge(customers_df[['customer_id','signup_date']], on = 'customer_id')
orders_df = orders_df[orders_df['order_date'] >= orders_df['signup_date']]
orders_df.drop(columns=['signup_date'], inplace=True)

In [22]:
orders_df.sample()

     order_id  customer_id order_date order_status
195       196          336 2025-10-14      Shipped

#### Loading cleaned data to new csv files

In [23]:
orders_df_median = orders_df["order_date"].median()

In [24]:
customers_df.to_csv("/home/sageGaurab/data-world/jupyter_stuff/csv_files/cleaned_customers.csv", index = False)

In [25]:
products_df.to_csv("/home/sageGaurab/data-world/jupyter_stuff/csv_files/cleaned_products.csv", index = False)

In [26]:
orders_df.to_csv("/home/sageGaurab/data-world/jupyter_stuff/csv_files/cleaned_orders.csv", index = False)

In [27]:
order_details_df.to_csv("/home/sageGaurab/data-world/jupyter_stuff/csv_files/cleaned_order_details.csv", index = False)

In [28]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5666 entries, 0 to 7998
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      5666 non-null   int64
 1   customer_id   5666 non-null   int64
 2   order_date    5666 non-null   datetime64[ns]
 3   order_status  5666 non-null   object
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 221.3+ KB